html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(40,45,50,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100,100,100,0.3);
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100,100,100,0.6);
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}
